*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: powderblue;
    font-family: "poppins";
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(134, 181, 187);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

.left{
    font-size: 1.5rem;
    font-weight: 550;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.firstsection div{
    margin: 30%;
}

.leftsection{
    background-color: aliceblue;
}

.rightsection{
    background-color: aliceblue;
}